/.cache/
/auto-save-files/
/auto-save-list/
/backup/
/eshell/
/projectile-bookmarks.eld
/projectile.cache
/recentf
/tramp
/transient/
/url/
/eln-cache/
/racket-mode/
/semanticdb/
/straight/

/perspective-state

*.elc

/projects

/org-roam.db

/init/private/
/init/private.el
